
jwt:
  secret: secretKeysecretKeysecretKeysecretKeysecretKeysecretKeysecretKeysecretKeysecretKeysecretKey
  access-token-expire-time: 600000
  refresh-token-expire-time: 1800000

nanoId:
  alphabet: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
  length: 21


spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    database: h2
    hibernate:
      ddl-auto: update
    open-in-view: false
  security:
    pbkdf2:
      hashwidth: 16
      iterations: 1024
      algorithm: PBKDF2WithHmacSHA512
    salt:
      algorithm: SHA1PRNG